.subscription{
    background-color: #0F0C30;
    color: #ffffff;
    font-family: sans-serif;
    margin: 0;
    padding: 2rem 20px;
    
    @media screen and (min-width: 600px){
        padding: 4rem;
    }

    &__form{
        background-color: #3671E9;
        border-radius: 0.5rem;
        text-align: center;
        padding: 1rem;
        padding-bottom: 1.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        @media screen and (min-width: 600px) {
            margin: 0 12rem;
            padding: 4rem;
        }
    }

    &__heading{
        font-size: 1.5rem;
    }
}

form{
    width: 80%;
    @media screen and (min-width: 600px) {
            margin: 2rem 0;
        }
}

form > input{
    display: block;
    width: 100%;
    border: 0px;
    border-bottom: 1px solid #ffffff;
    color:#ffffff;
    background: none;
}

::placeholder{
    color: #ffffff;
    opacity: 1;
}

::-ms-input-placeholder{
    color: #ffffff;
}

:-ms-input-placeholder{
    color: #ffffff;
}

form > button{
    margin-top: 1rem;
    box-shadow: none;
    width: 100%;
    padding: 0.5rem;
    border: hidden;
    border-radius: 3rem;
    font-weight: 700;

    @media screen and (min-width: 600px) {
        width: 50%;
    }
}